@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Merriweather", serif;
  text-shadow: 0px 0px 5px;
  color: cyan;
  transition: all 0.3s ease 0s;
}
h1:hover {
  color: darkblue;
}
a {
  font-family: "Merriweather", serif;
  text-decoration: none;
  text-shadow: 0px 0px 5px;
  color: black;
  transition: all 0.3s ease 0s;
  margin: 5px;
}
a:hover {
  color: blue;
}
div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#myVideo {
  position: fixed;
  right: 0%;
  bottom: 0%;
  max-width: 100%;
  min-height: 100%;
}
main {
  min-height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile {
  height: 30rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
  z-index: 5;
}
.Profile img {
  height: 10rem;
}
.Circle_1 {
  width: 17rem;
  height: 17rem;
  background: rgba(10, 13, 80, 0.9);
  border-radius: 50%;
  border: 1px solid rgba(29, 31, 80, 0.5);
  backdrop-filter: blur(1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.Circle_2 {
  width: 15rem;
  height: 15rem;
  background: rgba(24, 28, 114, 0.9);
  border-radius: 50%;
  border: 1px solid rgba(40, 44, 109, 0.5);
  backdrop-filter: blur(1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Circle_3 {
  width: 13rem;
  height: 13rem;
  background: rgba(49, 55, 143, 0.9);
  border-radius: 50%;
  border: 1px solid rgba(49, 55, 143, 0.5);
  backdrop-filter: blur(1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Circle_4 {
  width: 11rem;
  height: 11rem;
  background: rgba(77, 84, 188, 0.9);
  border-radius: 50%;
  border: 1px solid rgba(77, 84, 188, 0.5);
  backdrop-filter: blur(1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Links {
  min-height: 1rem;
  min-width: 10rem;
  background: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.4)
  );
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.Links img {
  height: 3.5rem;
  padding: 5px;
  margin: 5px;
}
